@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap');

.item-add-form{
    margin-top:10px;
    font-family: 'BenchNine', sans-serif;
}
.item-add-form input{
    margin-right: 3px;
}
